.rotate-right {
  display: inline-flex;
  animation: rotation-right 8s infinite linear;
}

.rotate-left {
  display: inline-flex;
  animation: rotation-left 8s infinite linear;
}

.rotate-off {
}

.unstyled-button {
  font-size: 100%;
  border: 0;
  background: none;
  padding: 0;
  display: inline-flex;
  align-items: center;
  color: inherit;
}

.unstyled-button:focus {
  outline: none;
}

@keyframes rotation-right {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes rotation-left {
  from {
    transform: rotate(359deg);
  }
  to {
    transform: rotate(0deg);
  }
}