$font_family: "Gill Sans MT";
$font-color: #81cfe0;
$font-color-h1: #34b9db;
$font-color-h2: #34b9db;
$font-color-h3: #34b9db;
$font-color-quote: #add8e6;

@media(max-width: 400px) {
  body {
    font-family: $font_family;
    color: $font-color;
    font-size: 22px;
  }

  h1 {
    color: $font-color-h1
  }

  h2 {
    color: $font-color-h2;
  }

  h3 {
    color: $font-color-h3;
  }

  .quote {
    font-style: italic;
    color: $font-color-quote;
  }
}

@media(min-width: 401px) {
  body {
    font-family: $font_family;
    color: $font-color;
    font-size: 18px;
  }

  h1 {
    color: $font-color-h1
  }

  h2 {
    color: $font-color-h2;
  }

  h3 {
    color: $font-color-h3;
  }

  .quote {
    font-style: italic;
    color: $font-color-quote;
  }
}