$font_family: "Gill Sans MT";
$font-color: #5C97BF;
$font-color-h1: #1BA39C;
$font-color-h2: #009FD4;
$font-color-h3: #009FD4;
$font-color-quote: #009FD4;

body {
  font-family: $font_family;
  color: $font-color;
  font-size: 18px;
}

h1 {
  color: $font-color-h1
}

h2 {
  color: $font-color-h2;
}

h3 {
  color: $font-color-h3;
}

.quote {
  font-style: italic;
  color: $font-color-quote;
}