$background_colour: #373f57;

body {
  background: $background_colour;
  margin: 0px;
  align-items: center;
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sub-container {
  width: 80%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex: 1;
}

.item {
  margin-bottom: 50px;
}

.gif-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

ol {
  li {
    margin: 15px;
  }
}

.image {
  width: 100%;
  max-width: 1240px;
}